$fuente-body: 'Roboto', sans-serif;
$color-fondo: #fff6ee;
$color-tecero: black;
$color-letra: white;
$margen-debajo: 100px;
$color-fondo-boton: #fff700;
$terminosyCondiciones: #266bea;
$ancho: 100px;
$alto: 100px;
$fuente-titulos: 'Pacifico', cursive;
$linea-abajo-margen: 1px solid #e6e6e6;