@import 'variables';
@import 'utilidades';
@import 'button';

body {
    @include resetear-pm;
    background: $color-fondo;
    font-family: $fuente-body;
}

// INDEX
/* estilos de imagenes de moda, calzados, kids y belleza */
.card-image{
    width: map-get($estilos, ancho100);
    margin: map-get($estilos, margenAyA);
}

/* estilos de titulos */
.title-sencillas{
    font-family: $fuente-titulos;
}


/* estilos de animacion________________________________________________________________________ */
.animation{
    animation-duration: 3.5s;
    animation-delay: 1s;
    animation-name: animar;
    .cardindex{
        &:hover{
            box-shadow: #676767;
            border: 3px solid black;
        }
    }
}
@keyframes animar{
    0%{
        transform: scale(.3);
        border-radius: 100%;
    }
}

#animation-map{
    animation-name: mapa;
    animation-duration: 4s;
    animation-delay: 3s;
}
@keyframes mapa{
    0%{ /*cuando la animacion aun no arranco entonces...*/
        background: #000000;
    }

    50%{
        background-color: #000000;
    }

    100%{
        background-color: $color-fondo;
    }
}

// BOTON DE OFERTAS
#OFERTAS{
    @include boton($background-color: $color-tecero,
                    $color: $color-letra);
    animation-name: ofertas;
    animation-duration: 3s;
    animation-iteration-count: infinite; /*CUANTAS VECES SE REPITE LA ANIMACION*/
    animation-direction: alternate; /*de 0 a 100% o alternado*/
}
@keyframes ofertas {
    0%{
        background-color: #878787;
        transform: translate(0);
    }

    100%{
        background-color: map-get($estilos, bg-color);
        /* transform: translateX(100%); */
    }
}
#OFERTAS{
    a{
        @include links();
        font-size: map-get($estilos, tamanioletra)
    }
    &:hover{
        box-shadow: grey;
        background-color: $color-fondo-boton;
        border: map-get($estilos, bradius);
    }
}


.altura-a-b{
    padding: map-get($estilos, rellenoAyA);
}

.logotipo{
    height: $alto - 50;
}

svg{ /*ESTILOS DE ICONOCES DE REDES SOCILAES*/
    margin: map-get($estilos, margenAyA)
}


/* image */
.image-banner{
    width: $ancho;
}

// SECCION OFERTAS
/* estilos de las cards */
.card{
    border-radius: 30px;
}
.card-img-top{
    border-radius: 30px 30px 0 0;
}

.title-ofertas{
    font-family: $fuente-titulos;
}


/* estilos de animacion */
.animation{
    animation-duration: 3.5s;
    animation-delay: 2s;
    animation-name: animar;
}
@keyframes animar{
    0%{
        transform: scale(.3);
        border-radius: 100%;
    }
}


.a2{
    animation-duration: 2s;
    animation-delay: 1s;
    animation-name: a22;
}
@keyframes a22{
    0%{
        transform: scale(.3);
        border-radius: 100%;
    }
}

.a3{
    animation-duration: 2s;
    animation-delay: 3s;
    animation-name: a33;
}
@keyframes a33 {
    0%{
        transform: scale(.3);
        border-radius: 100%;
    }
}

.a4{
    animation-duration: 2s;
    animation-delay: 5s;
    animation-name: a44;
}
@keyframes a44 {
    0%{
        transform: scale(.3);
        border-radius: 100%;
    }
}


#titulo-Categoria{
    animation-duration: 2s;
    animation-delay: 0s;
    animation-name: title;
    color: #ffffff;
    animation-iteration-count: infinite; /*CUANTAS VECES SE REPITE LA ANIMACION*/
    animation-direction: alternate; /*de 0 a 100% o alternado*/
}
@keyframes title {
    0%{
        color: #ebff0d;
    }
    100%{
        color: #ffffff;
    }
    
}


#Hombre{
    animation-duration: 2s;
    animation-delay: 0s;
    animation-name: titleHombre;
    color: #ffffff;
    animation-iteration-count: infinite; /*CUANTAS VECES SE REPITE LA ANIMACION*/
    animation-direction: alternate; /*de 0 a 100% o alternado*/
}
@keyframes titleHombre{
    0%{
        color: #6dcb60;
    }
    100%{
        color: #ffffff;
    }
}


#Mujer{
    animation-duration: 2s;
    animation-delay: 0s;
    animation-name: titleMujer;
    color: #ffffff;
    animation-iteration-count: infinite; /*CUANTAS VECES SE REPITE LA ANIMACION*/
    animation-direction: alternate; /*de 0 a 100% o alternado*/
}
@keyframes titleMujer{
    0%{
        color: #f88fff;
    }
    100%{
        color: #ffffff;
    }
}


#Niños{
    animation-duration: 2s;
    animation-delay: 0s;
    animation-name: titleNinios;
    color: #ffffff;
    animation-iteration-count: infinite; /*CUANTAS VECES SE REPITE LA ANIMACION*/
    animation-direction: alternate; /*de 0 a 100% o alternado*/
}
@keyframes titleNinios{
    0%{
        color: #2038ed;
    }
    100%{
        color: #ffffff;
    }
}

#Calzados{
    animation-duration: 2s;
    animation-delay: 0s;
    animation-name: titleCalzados;
    color: #ffffff;
    animation-iteration-count: infinite; /*CUANTAS VECES SE REPITE LA ANIMACION*/
    animation-direction: alternate; /*de 0 a 100% o alternado*/
}
@keyframes titleCalzados{
    0%{
        color: #ffd063;
    }
    100%{
        color: #ffffff;
    }
}

/* SECCION CARRITO */
#fila1{
    border-bottom: $linea-abajo-margen;
    a{
        text-decoration: none;
    }
}

.carrito{
    border-bottom: map-get($estilos, borde);
    color: $color-tecero;
    margin: map-get($estilos, margenleftyrigth);
}

.guardados{
    margin: 0px 45px;
}

.img-thumbnail{
    width: $ancho;
    height: auto;
}


.FilaOpciones{
    @include links;
}
.FilaOpciones{
    li{
        display: inline-block;
        a{
            text-decoration: none;
            margin: 0px 10px;
        }
    }
}


.card1{
    border-bottom: $linea-abajo-margen;
}

.card2{
    margin-bottom: 600px;
}

.contenido{
    @extend .card1;
    text-align: center;
}
.contenido{
    p{
        display: inline-block;
        margin: 0px 10px;
        padding: 30px;
    }
    
}

.boton-comprar{
    padding: 40px 0px;
    text-align: center;
}

.m-gris{
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}

// SECCION INGRESAR
#form-ingresar{
    @include margin-t-b();
}

// SECCION REGISTRARSE
#form-registrar{
    @include margin-t-b();
}

.tyc1{
    color: $terminosyCondiciones;
    text-decoration: underline;
}
.tyc2{
    @extend .tyc1;
}

// redes sociales footer

// MAP------------------------
$redes:(instagram: #dda5ff, facebook: #85b4ff, correo: #ffaaaa);

@each $clave, $valor in $redes {
    .btn-#{$clave}{
        color: $valor;
    }
}